html { line-height: 1.15;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}body{ margin: 0;}article,aside,footer,header,nav,section {
display: block;}h1 {font-size: 2em;margin: 0.67em 0;}figcaption,figure,main {display: block;}figure {margin: 1em 40px;}
hr { box-sizing: content-box;height: 0;overflow: visible;}pre {font-family: monospace, monospace;font-size: 1em;}a {background-color: transparent;
-webkit-text-decoration-skip: objects;}abbr[title] {border-bottom: none;text-decoration: underline;text-decoration: underline dotted;}
b,strong {font-weight: inherit;}b,strong {font-weight: bolder;}code,kbd,samp {font-family: monospace, monospace;font-size: 1em;}
dfn {font-style: italic;}mark {background-color: #ff0;color: #000;}small {font-size: 80%;}sub,sup {font-size: 75%;line-height: 0;
position: relative;vertical-align: baseline;}sub {bottom: -0.25em;}sup {top: -0.5em;}audio,video {display: inline-block;}audio:not([controls]) {
display: none;height: 0;}img {border-style: none;}svg:not(:root) {overflow: hidden;}button,input,optgroup,select,textarea {font-family: sans-serif;
font-size: 100%;line-height: 1.15;margin: 0;}button,input {overflow: visible;}button,select {text-transform: none;}button,html [type="button"],
[type="reset"],[type="submit"] {-webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {border-style: none;padding: 0;}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {outline: 1px dotted ButtonText;}fieldset {padding: 0.35em 0.75em 0.625em;}legend {box-sizing: border-box;
color: inherit;display: table;max-width: 100%;padding: 0;white-space: normal;}progress {display: inline-block;vertical-align: baseline;}
textarea {overflow: auto;}[type="checkbox"],[type="radio"] {box-sizing: border-box;padding: 0;}[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {height: auto;}[type="search"] {-webkit-appearance: textfield;outline-offset: -2px;}[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}::-webkit-file-upload-button {-webkit-appearance: button;font: inherit;}
details,menu {display: block;}summary {display: list-item;}canvas {display: inline-block;}template {display: none;}[hidden] {display: none;}.clearfix:after {visibility: hidden;display: block;font-size: 0;content: "";clear: both;height: 0;}html {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}*,*:before,*:after {box-sizing: inherit;}.sr-only {position: absolute;width: 1px;height: 1px;margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(0 0 0 0);overflow: hidden;}ul,h1,h2,h3,h4,p {
margin: 0;padding: 0;}

/* ~~~~~~~~~~~~~~~~~~ START ~~~~~~~~~~~~~~~~~~ */

/* FONT STYLES */

/* .poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

/* .space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
} */

/* * {
  border: 1px solid white;
} */

img {
  margin: 0;
  padding: 0;
  width: 100%;
}

body,
html {
  width: 100%;
  font-size: 62.5%;
  scrollbar-gutter: stable;
  overflow-y: scroll;
  /* background-color: #5D0000; */
  height: 100%;
  padding-right: 0 !important;
}

header {
  height: 90vh;
  width: 100%;
  background-color: #5D0000;
}

/* ~~~~~~~~~~~~~~~~~~ colour ~~~~~~~~~~~~~~~~~~ */

main#about {
  background-color: #5D0000;
}

section#shop {
  background-color: #EDE6CE;
}

/* sweet alert styles */

.swal2-content {
  font-size: 20px;
  font-family: "Tenor Sans", sans-serif;
}

.swal2-header {
  font-family: "Fahkwang", sans-serif;
  font-size: 30px;
}

.swal2-actions {
  font-size: 20px;
}

.swal2-styled.swal2-confirm {
  background-color: #252525;
}

.swal2-popup {
  width: 50em;
}

/* ~~~~~~~~~~~~~~~~~~ wrapper / containers ~~~~~~~~~~~~~~~~~~ */

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

.noWrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;

}

#shop .flexContainer,
#vision .flexContainer,
#about .flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  margin: 0 auto;
  width: 40%;
  max-width: 1280px;
}

.sectionFlexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  margin: 0 auto;
  width: 50%;
  max-width: 1280px;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pWrapper {
  width: 60%;
  margin: auto;
  /* margin-top: 10%; */
}

/* pWrapper for vision */
#vision .pWrapper {
  margin-top: 0;
}

/* ~~~~~~~~~~~~~~~~~~ accessibility ~~~~~~~~~~~~~~~~~~ */

button:active {
  border: 2px dotted black;
}

/* ~~~~~~~~~~~~~~~~~~ h1 ~~~~~~~~~~~~~~~~~~ */

/* main h1 */
h1 {
  font-size: 100px;
  position: absolute;
  top: 20%;
}

/* ~~~~~~~~~~~~~~~~~~ nav ~~~~~~~~~~~~~~~~~~ */

nav {
  width: 100%;
  display: flex;
  padding: 2%;
}

#shop nav,
#about nav,
#vision nav {
  top: 35%;
  position: absolute;
}

/* ~~~~~~~~~~~~~~~~~~ logo styles ~~~~~~~~~~~~~~~~~~ */

/* main logo */

.largeLogo {
  height: 100px;
}

/* other page logos */

#shop h1.smallLogo,
#about h1.smallLogo,
#vision h1.smallLogo {
  top: 15%;
}

#shop .smallLogo img,
#about .smallLogo img,
#vision .smallLogo img {
  height: 30px;
  width: 100px;
}


/* ~~~~~~~~~~~~~~~~~~ list styles and p styles ~~~~~~~~~~~~~~~~~~ */

ul {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

li,
p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  list-style: none;
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
}

ul li {
  transition: all 1s;
}

ul li:hover {
  border-bottom: 1px solid white;
}

.quote p {
  font-size: 30px;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 65px;
}

a {
  color: white;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

/* ~~~~~~~~~~~~~~~~~~ layout / sections ~~~~~~~~~~~~~~~~~~ */

/* main / sectionTwoBackground used in index.html */

.sectionTwoBackground {
  width: 100%;
  background: url("./assets/darkcandle.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #5D0000;
  padding: 5%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* about section / layout */

.aboutSection {
  display:flex;
  flex-direction: row;
  height: 90vh;
  width: 100%;
}

/* "leftBlock" and "rightBlock" represent the sections on the "about" page */
.leftBlock {
  width: 50%;
}

.rightBlock {
  width: 50%;
  position: relative;
}

.flexBlock{
  display: flex;
  flex-direction: column;
}

.leftImage {
  background: url("./assets/candledisplay.JPG");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.rightBlock h2 {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: white; 
}

.rightTitle {
  position: absolute;
    right: 0;
    top: 40px;
}

.leftText {
  position: absolute;
  right: 0;
  bottom: 120px;
  width: 75%;
}

.leftTitle {
  position: absolute;
  left: 0;
  top: 40px;
}

.rightText {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 75%;
}

.rightImage {
  background: url("./assets/eliyaflowers.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

/* ~~~~~~~~~~~~~~~~~~ vision section ~~~~~~~~~~~~~~~~~~ */

.visionSection {
  display:flex;
  flex-direction: row;
  height: 40vh;
  width: 100%;
}

/* vision image grid */
.visionGrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90vh;
  width: 100%;
}

.visionBlock {
  width: 250px;
  height: 250px;
  margin-bottom: 8px;
}

.visionFlexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

/* vision images */

.vision1 {
  background-image: url("./assets/haftsin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.vision2 {
  background-image: url("./assets/displaycandles.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.vision3 {
  background-image: url("./assets/candleflowers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.vision4 {
  background-image: url("./assets/haftsin2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.vision5 {
  background-image: url("./assets/cheeseboard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.vision6 {
  background-image: url("./assets/wine.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ~~~~~~~~~~~~~~~~~~ footer ~~~~~~~~~~~~~~~~~~ */

/* main footer */

footer {
  text-align: center;
  padding: 5%;
}

/* footer link to website */

.roLink {
  color: #FFFFFF;;
  padding: 0;
  transition: all 1s;
}

.roLink:hover {
  color: grey;
}


/* about me section */

header#about,
header#vision,
header#shop  {
  margin: 0 auto;
  width: 80%;
  height: 25vh;
}

.bottom {
  margin-top: 5%;
}

.sectionSpace {
  margin-bottom: 2%;
}

.space {
  margin-top: 5%;
}

.rightWidth {
  width: 90%;
  height: 100%;
  border-radius: 30px;
  background: #746c52bd;
}

.rightWidth p,
.rightWidth h2 {
  color: white;
}

.rightWidth h2 {
  margin-bottom: 5%;
}

/* shop/candles styles */

/* .shopBgSection {
  background-color:#EDE6CE;
  position: relative;
  display: grid;
} */
/* .shopBgSection:before {
  content:"";
  background-color:#EDE6CE;
  position: absolute;
  height: 100%;
  width: 100%;
  left: -50vw;
  z-index: -1;
} */

#shop {
  font-size: 18px;
}

#shop section,
.shopFooter {
  background-color: #EDE6CE;
}

header#shop,
header#vision,
header#about  {
  width: 100%;
  height: 25vh;
}

.backgroundColour {
background-color:  #5D0000;
}

.shopBackgroundColour {
  background-color:#EDE6CE;
}

.shopFooterSection {
  background-color:#EDE6CE;
  position: relative;
  display: grid;
}
/* .shopFooterSection::before {
  content:"";
  background-color:#EDE6CE;
  position: absolute;
  height: 100%;
  width: 100%;
  left: -50vw;
  z-index: -1;
} */

/* .shopFooterSection::after {
  content:"";
  background-color:#EDE6CE;
  position: absolute;
  height: 100%;
  width: 100%;
  right: -16vw;
  z-index: -1;
} */

.shopFooter p, 
.shopFooter a {
  color: #5D0000;
}

.shopify-buy__collection-products {
  margin-bottom: 5%;
}

#shop nav {
  top: 35%;
  position: absolute;
}

header#shopHeader {
  margin: 0 auto;
  height: 25vh;
}

/* global media queries */

/* media queries for main page */

@media (max-width: 625px) {
  h1 {
    font-size: 60px;
    font-weight: 300;
  }

  ul {
    margin-left: 0;
  }
}

@media (max-width: 520px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 45px;
  }
  .half p {
    font-size: 15px;
  }
  .rightWidth {
    width: 100%;
  }
  .quote p {
    font-size: 15px;
    line-height: 35px;
  }
  h3 {
    font-size: 35px;
  }
  .swal2-popup {
    width: 30em;
  }
}

/* media queries for about page */

@media (max-width: 1250px) {
  #about p,
  #vision p {
    font-size: 12px;
  }
  .rightText {
    width: 90%;
  }
}

@media (max-width: 1035px) {
  #about nav li,
  #shop nav li,
  #vision nav li {
    font-size: 12px;
  }

  #shop .flexContainer,
  #about .flexContainer,
  #vision .flexContainer {
    width: 70%;
  }

  ul {
    flex-wrap: nowrap;
  }

  #about nav,
  #shop nav,
  #vision nav {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  p {
    font-size: 12px;
  }
}

@media (max-width: 935px) {
  #about nav li,
  #shop nav li,
  #vision nav li {
    /* font-size: 10px; */
    font-size: 11px;
  }

  #about nav,
  #shop nav,
  #vision nav {
    width: 100%;
  }

  .aboutSection {
    height: 70vh;
  }
}


@media (max-width: 2000px) {
  .rightImage,
  .leftImage {
    background-position: right;
  }

  div.flexContainer {
    flex-direction: column;
  }

  div.flexContainer p {
    width: 100%;
  }

  header.stick {
    background: url(./assets/eliya_mobile.jpg);
    background-attachment: fixed;
    background-size: cover;
  }

  #about h1,
  #vision h1,
  #shop h1 {
    font-size: 95px;
    color: white;
    text-align: center;
    width: 100%;
    padding: 2%;
  }

  #about h2,
  #vision h2,
  #shop h2 {
    font-size: 70px;
    text-align: center;
    margin-bottom: 5%;
  }

  #about p,
  #vision p {
    margin-bottom: 5%;
    font-size: 35px;
    line-height: 60px;
  }
}

@media (max-width: 995px) {
  .aboutSection {
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }

  .aboutSectionMediaQ {
    display: flex;
    flex-direction: column;
  }

  .rightImage,
  .leftImage {
    height: 500px; 
  }
  .rightBlock,
  .leftBlock {
    width: 100%; 
    position: unset;
  }

  .rightText,
  .leftTitle,
  .leftText,
  .rightTitle {
    position: unset;
    width: 100%;
  }

  .leftText {
    margin-bottom: 50px;
  }

  .rightTitle h2,
  .leftTitle h2 {
    font-size: 70px;
  }

  .rightTitle h2, .leftTitle h2 {
    font-size: 55px;
  }
}

@media (max-width: 710px) {
  .rightTitle h2, .leftTitle h2 {
    font-size: 40px;
  }

  /* #about .flexContainer,
  #vision .flexContainer {
    width: 100%;
  } */

  #about p {
    font-size: 15px;
  }

  .visionSection p {
    font-size: 13px;
  }
  .visionBlock {
    height: 150px;
    width: 150px;
  }
  
  .visionFlexContainer {
    justify-content: flex-start;
  }
}

@media (max-width: 320px) {
  #about h1,
  #about h2,
  #vision h1,
  #vision h2 {
    font-size: 40px;
    text-align: center;
  }

  #about p,
  #vision p {
    line-height: 30px;
  }

  footer p {
    font-size: 13px;
  }
}

/* media queries for shop */

@media (max-width: 460px) {
  footer {
    padding: 5%;
  }
  .shopFooter {
    margin-top: 10%;
  }
}

/* media queries for vision */

/* below media query hides the mobile images until needed */
@media (min-width: 949px) {
  .visionGridMobile {
    display: none;
  }
}

@media (max-width: 950px) {
  .visionGrid {
    display: none;
  }

  .visionGridMobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* height: 90vh; */
    width: 100%;
    margin: 10% auto;
  } 
}

/* @media (max-width: 800px) {
  #visionNav li a {
    font-size: 12px;
  }
} */

/* @media (max-width: 685px) {
  .visionSection p {
    font-size: 13px;
  }
  .visionBlock {
    height: 150px;
    width: 150px;
  }
  
  .visionFlexContainer {
    justify-content: flex-start;
  }
} */

@media (max-width: 430px) { 
  #visionSection p {
    font-size: 12px;
  }

  .pWrapper {
    width: 90%;
  }

  header#shop, header#vision, header#about {
    height: 20vh;
  }

  #shop nav, #about nav, #vision nav {
    top: 45%;
  }

  li {
    font-size: 11px;
  }

#shop .flexContainer,
#vision .flexContainer,
#about .flexContainer {
  width: 90%;
}

.sectionTwoBackground {
  height: 75vh;
}

}

@media (max-width: 450px) {
  #shop .sectionFlexContainer {
    width: 80%;
  }
}

@media (max-width: 390px) { 
  li {
    font-size: 8px;
  }

  p {
    font-size: 10px;
  }

  header#shop, header#vision, header#about {
    height: 15vh;
    margin-bottom: 15%;
  }

  .largeLogo {
    height: 78px;
    width: 80%;
  }
}

@media (max-width: 350px){
  #shop nav li {
    font-size: 9px;
  }
}

@media (max-width: 540px) { 
  .quote p {
    font-size: 20px;
    width: 80%;
  } 
  
  .aboutSection {
    height: 100vh;
  }
}